h1, h2 {
    color: dodgerblue;
    font-family: Comic Sans MS; 
}

p {
    color:black;
    font-family: Comic Sans MS;
    
}

ul, li {
    color: blue;
    font-family: Comic Sans MS;
    
}

th {
    color: navy;
    font-family: Comic Sans MS;

    
}

td {
    color: blue;
    font-family:Comic Sans MS;

}

a {
    font-family: Comic Sans MS;
    font-size: 18px;

}

a:visited {

    font-family: Comic Sans MS;
    color: blue; 

}

a:hover {

    color: red;
}